<footer class="footer-bottom">
    <div class="container clearfix footer-container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="footer-item">
                    <h4>تماس با ما</h4>
                    <ul>
                        <li> <i class="fa fa-map-marker"></i>  ‌  تهران، نارمک، خیابان فرجام ، <br /> &nbsp;&nbsp;&nbsp; میدان صد، پلاک 701 واحد 8</li>
                        <li> <i class="fa fa-phone"></i> 021-77243911 <br />&nbsp;&nbsp;&nbsp; 021-77093047<br />&nbsp;&nbsp;&nbsp; 09124772739 </li>
                    </ul>
                </div>
                <div class="footer-item">
                    <h4>شبکه های اجتماعی</h4>
                    <ul class="social-links">
                     <li><a href="https://t.me/Rushweb" rel="nofollow"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-xs-12">
                <h4>دسترسی سریع</h4>
                <ul>
                    <li><a href="/home/about">درباره ما</a></li>
                    <li><a href="/home/Contact">تماس با ما</a></li>
                    <li><a href="/Account/Login">ورود</a></li>
                    <li><a href="/register">ثبت نام</a></li>
                </ul>
	        </div> 
					<div class="col-md-3 col-xs-12" style="direction: rtl;">
                <h4>گواهینامه ها</h4>
		        <div style="background-color: #fff; max-width: 120px; float: right;">
							<a rel="origin" target="_blank" href="https://trustseal.enamad.ir/?id=174213&amp;Code=KLo29ormSnYOmMfSECCw"><img src="https://Trustseal.eNamad.ir/logo.aspx?id=174213&amp;Code=KLo29ormSnYOmMfSECCw" alt="" style="cursor:pointer" id="KLo29ormSnYOmMfSECCw"></a>
		        </div>
		        @*<div style="background-color: #fff; max-width: 120px; float: left;">
			        <img id = 'jxlzjzpewlaofukzsizpnbqe' style = 'cursor: pointer; width: 100%;' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=174692&p=rfthjyoeaodsgvkapfvluiwk", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src = 'https://logo.samandehi.ir/logo.aspx?id=174692&p=nbpdyndtshwlwlbqbsiyodrf' />
		        </div>*@
            </div>
            <div class="col-md-3 col-xs-12">
                <h4>درباره راش‌وب</h4>
                <p class="footer-desc">آژانس خلاقیت و دیجیتال مارکتینگ راش‌وب‌، مشاور برندینگ و بازاریابی دیجیتال ، رسیدن شما به اهداف مجموعه خود را در حوزه اینترنت تضمین می کند.</p>
            </div>
        </div>

    </div>
    <div class="bg-silver">
        <div class="container clearfix copy-right">
            <div class="copyright-text pull-right">
                <p>&copy; 2019 تمامی حقوق این سایت متعلق به آژانس تبلیغاتی راش‌وب می باشد</p>
            </div>
        </div>
    </div>
</footer>