@model ViewModels.LoginViewModel
@{
    ViewBag.Title = "فراموشی رمز عبور";
    Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
}
<!-- Preloader -->
<div class="preloader"></div>

<div class="header-top"></div>
<!--Page Title-->
<section class="page-title" style="background: url(/images/background/2.jpg);">
    <div class="container text-center">
        <div class="title">
            <h4>ورود</h4>
        </div>
        <ul class="title-manu">
            <li><a href="/">صفحه اصلی</a></li>
            <li>></li>
            <li>فراموشی رمز عبور</li>
        </ul>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-12  col-md-offset-3 login">
            <div class="login-header">
                فراموشی رمز عبور
            </div>
            <div class="alert alert-info" id="error-box-forget"></div>
            <div class="login-form" id="forgetUsername">

               
                <div class="form-group">
                    <label for="Username">شماره موبایل</label>
                    <div>
                        <input class="form-control" id="txtForgetUsername" />

                    </div>
                </div>
                <button type="submit" id="btnForgetUsername" class="btn btn-savadimo-login">ثبت</button>
            </div>

            <div class="login-form" id="forgetpassword">

                <div class="alert alert-info" id="error-box-login"></div>

                <div class="form-group">
                    <label for="Password">کلمه عبور</label>
                    <div>

                        <input class="form-control" id="txtForgetPassword" type="password"/>

                    </div>
                </div>
                <button type="submit" id="btnForgetpassword" class="btn btn-savadimo-login">ثبت</button>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-12  col-md-offset-3 login-footer">
            جهت دسترسی به پنل کاربری خود باید وارد وب سایت شوید.
            <br />
            <a href="/register">ثبت نام در سایت</a>
        </div>
    </div>
</div>

@section scripts{
   <script>
       $(document).ready(function () {
           $("#forgetpassword").css('display', 'none');
           $("#error-box-forget").css('display', 'none');
       });

       $("#btnForgetUsername").click(function () {
           var username = $("#txtForgetUsername").val();
           if (username != '') {
               $.ajax({
                   url: '/account/forgetpassword',
                   data: { cellNum: username },
                   type: 'POST'
               }).done(function (result) {
                   if (result != "false")
                   {
                       $("#error-box-forget").css('display', 'none');
                       $("#forgetUsername").css('display', 'none');
                       $("#forgetpassword").css('display', 'block');
                   }
                   else {
                       $("#error-box-forget").css('display', 'block');
                       $("#error-box-forget").append('شماره موبایل در وب سایت یافت نشد، جهت ورود به وب سایت ثبت نام نمایید.');
                       $("#forgetUsername").css('display', 'block');
                       $("#forgetpassword").css('display', 'none');
                   }
               });
           }
           else {
               $("#error-box-forget").css('display', 'block');
               $("#error-box-forget").append('شماره موبایل خود را وارد نمایید');
           }
       });

       $("#btnForgetpassword").click(function () {
           var username = $("#txtForgetUsername").val();
           var password = $("#txtForgetPassword").val();
           if (password != '') {
               $.ajax({
                   url: '/account/checkforgetpassword',
                   data: { cellNum: username, password: password },
                   type: 'POST'
               }).done(function (result) {
                   if (result === "false") {
                       $("#error-box-forget").css('display', 'block');
                       $("#error-box-forget").append('کلمه عبور وارد شده صحیح نمی باشد.');
                       $("#forgetUsername").css('display', 'none');
                       $("#forgetpassword").css('display', 'block');
                   }
                   else {
                       window.location.href = "/";
                   }
               });
           }
           else {
               $("#error-box-forget").css('display', 'block');
               $("#error-box-forget").append('کلمه عبور را وارد نمایید');
           }
       });
    </script>
    }