
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BankRedirect</title>
</head>
<body>
<div>
	در حال انتقال به بانک
</div>
</body>
</html>
